<div class="row">
    <div class="col-lg-6">
        <div class="mb-3">
            {{ form_label(form.nom_produit, 'Product Name', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.nom_produit, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.categorie, 'Category', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.user, 'Product Owner', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.user, {'attr': {'class': 'form-select'}}) }}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="mb-3">
            {{ form_label(form.price, 'Price', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control', 'placeholder': 'Price'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.image, 'Product Image', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.image, {'attr': {'class': 'form-control dropify', 'placeholder': 'Image','data-plugins': 'dropify', 'data-height': '300'}}) }}
        </div>


    </div>
</div>

<button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
